@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Permanent+Marker&family=Sevillana&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    width: 100%;
}
.board {
    width: 20%;
    position: fixed;
    background-color: rgba(36, 82, 122, 0.8);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
}

#container {
    width: 80%;
    color: #fff;
    background-color: #8dc6ff;
    min-height: 100vh;
    position: absolute;
    margin-left: 20%;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding-top: 50px;
}

.box {
    height: 70px;
    width: 98%;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    padding-left: 5px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.box img {
    width: 60px;
    height: 60px;
}

.box p {
    color: #0092ca;
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
    padding: 5px;
}

.box:hover {
    background-color: rgba(228, 241, 254, 0.3);
}

.profile {
    padding-left: 7px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: #e4f1fe;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
}

.profile img {
    cursor: pointer;
}

.themeIcon {
    width: 100%;
    height: 70px;
}

#profileImage {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#themeIconImage {
    cursor: pointer;
    width: 60px;
    height: 60px;
}

/* Add Task Form Styles */
.add-task-form,
.upcoming-task-form {
    background-color: #3498db;
    width: 400px;
    height: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 10% auto;
    max-width: 400px;
    color: #fff;
}

.add-task-form h2,
.upcoming-task-form h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ecf0f1;
}

#taskForm {
    max-width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #ecf0f1;
    font-family: 'Open Sans', sans-serif; 
}
input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #ecf0f1;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}
button {
    background-color: #6304d0;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #042032;
}
body.dark-mode .add-task-form,body.dark-mode .upcoming-task-form {
    background-color: #193e64; /* Darker background color for dark mode */
    color: #ecf0f1; /* Light text color for dark mode */
}

body.dark-mode .add-task-form label,
body.dark-mode .add-task-form input,
body.dark-mode .add-task-form textarea,
body.dark-mode .upcoming-task-form label,
body.dark-mode .upcoming-task-form input,
body.dark-mode .upcoming-task-form textarea {
    background-color: #193e64; /* Darker background color for dark mode inputs */
    color: #ecf0f1; /* Light text color for dark mode inputs */
}
body.dark-mode .add-task-form input,
body.dark-mode .add-task-form textarea{
    border: 2px solid rgb(5, 125, 224);
}

#upcomingTaskList {
    list-style-type: none;
    padding: 0;
}

.upcoming-task-item {
    margin-bottom: 10px;
}

.upcoming-task-item h3 {
    margin-bottom: 5px;
}

.upcoming-task-item p {
    margin: 0;
    font-size: 14px;
}

body.dark-mode {
    background-color: #1a1a1a;
    color: #fff;
}
body.dark-mode #container {
    background-color:#1c2935;
}
.task{
    background-color: #0092ca;
    width: 800px;
    height: 200px;
    border-radius: 20px;
}
.taskHeader{
    display: flex;
    width: 800px;
    height: 50px;
    /* background-color: black; */
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 30px;
    font-size: 40px;
}
.taskHeader input{
    width: 40px;
    height: 40px;
    transform: translateY(10px);
}
.taskBody{
    width: 800px;
    height: 150px;
    border-radius: 20px;
    /* background-color: black; */
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}
.taskBody #date{
    position: absolute;
    bottom: 10px;
    right: 10px;
}